<h1>Libraries Info</h1>

<%= link_to "Library Index", "/libraries" %>
<%= link_to "Book Index", "/books" %>
<% @libraries.each do |library| %>
  <h2>Name: <%= library.name %></h2>
  <p><%= library.created_at %></p>
<% end %>
